<%- include("partials/header") %>

<div class="container">
    <h1> <%= title %> </h1>
    <small> Published: <%= date %> </small>
    <br><br>

    <pre><p id="post-content"><%= content %></p></pre>
</div>

<%- include("partials/footer") %>