<%- include("partials/header") %> 

<div class="container">
    <div class="header-box">
        <h1 class="entries-header">Entries:</h1>
        <div class="filter-selection">
            <form class="filter-form" action="/" method="GET">
                <label for="date_filter">Date:</label>
                <select name="date_filter" id="date_filter">
                    <option <%=newest%> value="desc">Newest</option>
                    <option <%=oldest%> value="asc">Oldest</option>
                </select>
            </form>
        </div>
    </div>
    <hr style="color: #A2DBFA;">
    
    <!-- Dev Journal Entries -->
    <%entries.forEach(function(entry){%>
        <h2 class="entry-title"> <%= entry.title %> </h2>
        <small class="date-pub"> <%= entry.date.toLocaleString("en-us", {year: "numeric", month:"long", day: "numeric"}) %> </small>
        <p class="entry-preview"> 
            <%= entry.content.substring(0,99) + "..." %> 
            <br>
            <a class="read-more" href="/posts/<%=entry._id%>">Read More</a>
        </p>
    <%});%>
</div>

<%- include("partials/footer") %>  