<%- include("partials/header") %>
  <main class="container home-wrapper">
    <div class="home-header">
      <h1>Entries<span class="accent">:</span></h1>
      <form class="filter-form" action="/" method="GET">
        <select name="dateFilter" id="dateFilter">
            <option <%=newest%> value="desc">Newest</option>
            <option <%=oldest%> value="asc">Oldest</option>
        </select>
      </form>
      <hr>
    </div>

    <%entries.forEach(function (entry) {%>
      <div class="entry-card">
        <a class="entry-card-link" href="/entry/<%=entry._id%>">
          <div class="entry-card-content">
            <h2><%=entry.title%></h2>
            <p><%=entry.content.substring(0, 250) + "..."%></p>
          </div>
          <div class="entry-card-bio">
            <p class="entry-card-dev">Posted by: Joe Bob</p>
            <p class="entry-card-date"><%=entry.date.toLocaleString("en-us", {year: "numeric", month:"long", day: "numeric"})%></p>
          </div>
        </a>
      </div>
      <hr class="entry-seperator">
    <%});%>

  </main>
<%- include("partials/footer") %>