<%- include("partials/header") %> 

<div class="container">

    <h1>Entries:</h1>
    <hr style="color: #A2DBFA;">
    
    <!-- Dev Journal Entries -->
    <%entries.forEach(function(entry){%>
        <h2 class="entry-title"> <%= entry.title %> </h2>
        <small class="date-pub"> <%= entry.date.toLocaleString("en-us", {year: "numeric", month:"long", day: "numeric"}) %> </small>
        <p class="entry-preview"> 
            <%= entry.content.substring(0,99) + "..." %> 
            <br>
            <a class="read-more" href="/posts/<%=entry._id%>">Read More</a>
        </p>
    <%});%>

</div>

<%- include("partials/footer") %>  